<h1><%= @user.username %></h1>

<%= link_to "Comment on User", new_user_comment_url(@user), id:"comment-user" %>
<ul> <%= render @user.comments %> </ul>

<h3>Pending Goals</h3>
  <ul> <%= render @pending_goals %> </ul>

<% unless @completed_goals.empty? %>
  <h3>Completed Goals</h3>
  <ul> <%= render @completed_goals %> </ul>
<% end %>

<%= link_to "New Goal", new_goal_url %>
