<!DOCTYPE html>
<html>
<head>
  <title>Cats99App</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= current_user.name %>
  <%= button_to "Log Out", session_url, method: :delete %>
<% else %>
  <%= link_to "Log In", new_session_url %>
<% end %>

<%= render 'shared/errors' %>

<%= yield %>

</body>
</html>
